body {
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 500;
}

.d-block {
    width: 400px;
    border-radius: 50%;
}

.icon1 {
    color: rgb(245, 90, 19);
}

.icon2 {
    color: rgb(0, 89, 255);
}

.icon3 {
    color: rgb(164, 31, 190);
}